a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  display: block;
  margin: 0.5rem auto;
  width: 48%;
  padding: 0.45rem;
  border: none;
  border-radius: 3px;
  color: #a54a6a;
  font-weight: bolder;
  }
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .dialog {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: lightblue;
  }
  /* navbar */

.navbar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(144, 144, 144);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.navbar li {
  margin: 10px;
}

.navbar ul {
  display: flex;
}

.activenav {
  color: blue;
  position: relative;
}
.activenav::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -5px;
  height: 2px;
  background-color: blue;
}

.d-flex {
  display: flex;
  justify-content:center;
  align-items: center;
}
/* media queries for responsive design */

@media screen and (max-width: 420px) {
  .navbar {
    width: 300px;
  }
  .navbar li {
    margin: 5px;
  }
  .App-logo {
    animation: App-logo infinite 10s linear;
  }
}